@using Task_8.Dependencies
@using Task_8.Entities

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    //var usersBll = DependencyResolver.Instance.UsersLogic;

    var usersAndAwards = DependencyResolver.Instance.UsersAndAwardsLogic;

    //var user = usersBll.GetUser(Guid.Parse(Request["id"]));

    var awards = usersAndAwards.GetAwardsNotAvailableByUser(Guid.Parse(Request["id"]));
    PageData["Title"] = "Awards for Assign";
}

@if (awards.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 0;
                foreach (var award in awards)
                {
                    index++;
                    <tr>
                        <th scope="row">@index</th>
                        <td>@award.Title</td>
                        <td>
                            <a href="~/Pages/Award/Details?id=@(award.Id)" class="btn btn-primary">Assign</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <h5>
        Все достижения присвоенны
    </h5>
}