@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title</title>
    @*@RenderSection("head", required: false)*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
