@{
    Layout = null;

    string pageName = null;
    if (PageData.ContainsKey("Title"))
    {
        pageName = PageData["Title"];
    }
    else
    {
        pageName = "Unknown Page";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@pageName</title>
    @*@RenderSection("head", required: false)*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @*<div class="dropdown">
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="~/Pages/Users.cshtml">Users</a></li>
                <li><a class="dropdown-item" href="#">Awards</a></li>
                <li><a class="dropdown-item" href="#">UsersAndAwards</a></li>
            </ul>
        </div>*@
    <div class="list-group list-group-horizontal" style="">
        @*<a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                The current link item
            </a>*@
        <a href="~/Pages/Users.cshtml" class="list-group-item">Users</a>
        <a href="~/Pages/Awards.cshtml" class="list-group-item">Awards</a>
        <a href="~/Pages/UsersAndAwards.cshtml" class="list-group-item">UsersAndAwards</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
