@using Task_8.PL.WebPages.Models;

@{

    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    var usersBll = BLL.UsersBLL;

    //var users = usersBll.GetAllUser

}

<form method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Name</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">DateOfBirth</span>
        <input type="date" class="form-control" placeholder="DateOfBirth" aria-label="DateOfBirth" aria-describedby="basic-addon1">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>