.fRegist{
    width: 400px;
    background-color: #008cff9c;
    border: thin solid blue;
    font-size: 12px;
    color: white;
    /*padding-block: 5%;*/
}

.fRegist > div{
    padding-inline: 5%;
    padding-block: 2%;
}

.fRegist p{
    font-size: 18px;
    margin: 0;
}

.e-mail input{
    width: 100%;
}

.inputPassword {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.inputPassword input{
    width: 100%;
}

.inputPassword :nth-child(1)
{
    width: 100%;
    margin-right: 3%;
}
.inputPassword :nth-child(2)
{
    width: 100%;
    margin-left: 3%;
}

.fRegist hr{
    padding: 0;
    position: relative;
}

.Btn{
    background-color: khaki;
    border: 0;
}



