.fRegist{
    width: 400px;
    background-color: #008cff9c;
    border: thin solid blue;
    font-size: 14px;
    color: white;
    padding-block: 2%;
}

.fRegist > div{
    padding: 10px 40px 10px 20px;
    box-sizing: border-box;
    width: 100%;
}

.fRegist :nth-child(1){
    padding-bottom: 0;
    margin: 0;
}

.fRegist p{
    font-size: 20px;
    margin: 0;
}

.fRegist hr{
    padding: 0;
    position: relative;
}

.e-mail input{
    box-sizing: border-box;
    width: 100%;
}

.inputPassword {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.inputPassword input{
    box-sizing: border-box;
    width: 100%;
}

.inputPassword :nth-child(1)
{
    width: 100%;
    margin-right: 3%;
}
.inputPassword :nth-child(2)
{
    width: 100%;
    margin-left: 3%;
}

.Btn{
    background-color: khaki;
    border: 0;
    font-size: 10px;
    width: 65px;
    height: 20px;
}



