@using Task_8.Dependencies

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    var awardsBll = DependencyResolver.Instance.AwardsLogic;

    PageData["Title"] = "Delete Award";
    if (!User.IsInRole("admin"))
    {
        Response.Redirect("~/");
    }
}
<h3>Edit User : @Request["title"]</h3>

@{
    try
    {
        awardsBll.RemoveAward(Guid.Parse(Request["id"]));
        <div class="alert alert-success" role="alert">
            A simple success alert—check it out!
        </div>
    }
    catch (Exception ex)
    {
        <div class="alert alert-danger" role="alert">
            A simple danger alert—check it out!
        </div>
    }
}
