@using Task_8.Dependencies

@{

    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    var awardsBll = DependencyResolver.Instance.AwardsLogic;

    PageData["Title"] = "Edit Award";

    if (!User.IsInRole("admin"))
    {
        Response.Redirect("~/");
    }
}
<h3>
    Edit Award
</h3>
<form method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Title</span>
        <input type="text" name="Title" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1" value="@Request["title"]" required>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>

@if (IsPost)
{
    try
    {
        string title = Request["Title"];

        awardsBll.EditTitel(id: Guid.Parse(Request["id"]), newTitle: title);
        <div class="alert alert-success" role="alert">
            Достижение успешно изменено!!!
        </div>
    }
    catch (Exception ex)
    {
        <div class="alert alert-danger" role="alert">
            Достижение не изменено!!!
        </div>
    }
}