.Menu {
    width: 200px;
 max-width: 200px; 
 padding: 5px;

 background-color: rgb(248, 190, 82);
 border-radius: 5px;
 border: thin solid black;
 list-style: none;
 box-shadow: 5px 5px 0px brown;
}

.Menu li {
    color:brown;
}